<h1>Edit Service</h1>
<form action="/services/<%=@service.id%>/edit" method="post">
<input class="form-control" type="text" name="service[name]" placeholder="Service Name" value="<%= @service.name %>" required>
<br/>
<input class="form-control"type="number" name="service[price]" placeholder="Service Price" value="<%= @service.price %>" required>
<br/>
<input class="btn btn-primary" type="submit" value="Edit Service">
</form>