<h1 class="title">Services</h1>
<a class="btn btn-primary btn-add" href="/services/new">Add Service</a>
<br/><br/>
<table class="table table-bordered table-striped">
<tr><th>Name</th> <th>Price</th></tr>
<% for service in current_user.services.order(:name) %>
<tr>
    <td><a href="/services/<%=service.id%>"><%= service.name%></a></td>
    <td> $<%= number_to_currency(service.price) %> </td>
</tr>
<% end %>
</table>

