.red_text {
    color: red;
}
.green_text {
    color: green;
}
li a{
    color: #333;
}
nav.navbar.navbar-default {
    margin-bottom: 0px;
    background: #fff;
}
.content{
    margin-top: 20px;
}
.center{
    text-align: center;
}
.jumbotron {
    background: #fff
}
.title{
    display: inline-block;
}
.btn-add{
    float: right;
    margin-top: 20px;
}
form.inline {
    display: inline-block;
}