<h1 class="title">Clients</h1>
<a class="btn btn-primary btn-add" href="/clients/new">Add Client</a>
<br/><br/>
<table class="table table-bordered table-striped">
<tr><th>Name</th> <th>Email</th></tr>
<% for client in current_user.clients.order(:name) %>
<tr>
    <td><a href="/clients/<%=client.id%>"><%= client.name%></a></td>
    <td><%= client.email %> </td>
</tr>
<% end %>
</table>
