<!DOCTYPE html>
<html>
<head>
    <title>Invoicer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>
    <%= yield %>
    <script src="/static/js/bootstrap.min.js"/>
</body>
</html>